<h2>Private Page</h2>

{{#if user}}
<div class="mt-5">
  <h3>{{user.fullName}}</h3>
</div>
<div>
  <img src={{user.avatar}} alt="avatar" width="100px">
</div>
<div class="mt-5">
  <a href="/">Back to homepage</a>
</div>
{{/if}}